@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue/BebasNeue-Regular.woff2");
}

*, *:before, *:after {
  box-sizing: border-box;
  font-family: BebasNeue;
}

body, html{
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

#cardContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.characterCard {
  /* Box model */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  position: absolute;

  /* background-color: white; */
  /* border: 1px solid black; */
}
.characterCard.hidden {
  display: none;
}

/* Name and icon */
.characterCard__header {
  display: flex;
  flex-direction: row;
  height: 20%;
  width: 100%;
}
.characterCard__icon {
  position: absolute;
  height: 23vh;
  width: 23vh;
  background-size: 100%;
}
.characterCard__nametext {
  margin-left: 25vh;
  color: transparent;
  font-size: 11.5vh;
  padding-left: 2vh;
  padding-top: 2vh;
  line-height: 20vh;
}
.characterCard__nametext span {
  position: absolute;
}
.characterCard__nametext .stroke {
  -webkit-text-stroke: 1vh black;
  z-index: 50;
  user-select: none;
  -webkit-user-select: none;
}
.characterCard__nametext .fill {
  color: white;
  z-index: 51;
}
.characterCard__nametext[data-shorten="1"] {
  font-size: 10vh;
}


/* Container for the bottom half of the board */
.characterCard__content {
  height: 80%;
  border-radius: 2vh;
  border: 4px solid black;
  background-color: white;
  overflow: hidden;
}
/* Title and class text */
.characterCard__titletext, .characterCard__classtext {
  display: table;
  width: 100%;
  height: 15%;
  /* background-color: white; */
  text-align: center;
  /* letter-spacing: -0.5vh; */
  font-size: 8vh;
  /* font-variant-caps: all-petite-caps; */
}
.characterCard__titletext span, .characterCard__classtext span {
  display: table-cell;
  vertical-align: middle;
}

/* Stat block */
.characterCard__statblock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 70%;
}
.characterCard__statblockrow {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
}
.characterCard__statbox {
  display: inline-block;
  line-height: 11vh;
  width: 25vw;
  height: 40%;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 4vh;
  text-align: center;
  font-size: 8vh;
  box-shadow: 0px 0px 2vh brown;
}


/* Animations */
.anim-card-exit {
  animation-name: fade-out;
  animation-duration: 0.25s;
  animation-timing-function: linear;
  animation-iteration-count: 1;

  z-index: 100;
  visibility: hidden;
}
/* Animations */
.anim-card-enter {
  /* animation-name: swipe-in;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1; */

  /* z-index: 100; */
  /* visibility: hidden; */
}

@keyframes swipe-out {
  from {
    margin-left: 0;
    visibility: visible;
  }
  to {
    margin-left: 100vw;
    visibility: visible;
  }
}
@keyframes swipe-in {
  from {
    margin-left: -100vw;
    visibility: visible;
  }
  to {
    margin-left: 0;
    visibility: visible;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
    visibility: visible;
  }
  to {
    opacity: 1;
  }
}
