* {
  box-sizing: content-box;
}

body {
  max-width: 100vw;
}

noscript p {
  padding: 1em;
  background-color: #ff999999;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

#container {
  /* background-color: blue; */
  /* align-content: stretch; */
  display: flex;
  max-width: 70em;
  margin: auto;
  justify-content: space-between;
  /* width: 100%; */
}

#appletContainer {
  /* align-self:flex-start; */
  /* float: right; */
  background-image: url('../images/app/paper.jpg');

  margin-right: .5em;
  margin-bottom: 0.5em;
  border: 1px solid black;
  border-radius: 0.5em;
  padding: 0.5em;
}

#applet {

}

#editor {
  /* background-color:   */
}

#editor p {
  /* left: 100px; */
}

.character-form {
  display: inline-block;
  /* border: 1px solid black; */
  border-radius: 0.25em;
  margin-right: 0.5em;
  margin-bottom: 0.25em;
}
.character-form>.charInfo {
  margin-bottom: 0.5em;
}

.character-form .stats {}
.character-form .stats input {
  width: 5em;
}
.character-form .stats {
  text-align: center;
  /* color: red; */
  font-weight: bold;
}


.tabs {
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-padding-start: 0;
  border-bottom: 1px solid black;
  /* Make unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tabs>li {
  position: relative;
  display: inline;
  border: 1px solid gray;
  border-radius: 10px 10px 0 0;
  padding: 0.2em 1em 1px 1em;
  border-bottom: none;
  -webkit-margin-end: 5px;
  /* background-color: blue; */
}
.tabs>li.selected {
  border-color: black;
  font-weight: bold;
}
.tabs>li .close {
  position: absolute;
  display: none;
  right: 5px;
  top: 0.2em;
  /* background-color: rgba(white, 0.5); */
}
.tabs>li:hover .close {
  display: block;
}

.hidden {
  display: none;
}
